.home {
    &__hero {
        background: $purple;
        position: relative;
        padding-top: 130px;
        padding-bottom: 180px;
        overflow: hidden;

        &__stage {
            position: absolute;
            left: 0;
            right: 0;
            top:0;
            bottom: 0;
        }

        &__doodle {
            position: absolute;

            &--diamonds {
                left:10px;
                top:15px;

                img {
                    width: 80px;
                }
            }

            &--ovni {
                right: -20px;
                top:20px;

                img {
                    width: 130px;
                }
            }

            &--hand {
                bottom: -20px;
                left: 20px;

                img {
                    width: 100px;
                }
            }

            &--headphones {
                right: 0;
                bottom: 0;

                img {
                    width: 180px;
                    transform: rotate(20deg);
                }
            }

            &--casette {
                display: none;
            }

            &--mixer {
                display: none;
            }
        }

        &__logo {
            width: 70%;
            margin: 0 auto 30px;

            img {
                width: 100%;
            }
        }

        &__text {
            color: $white;
            font-size: 22px;
            line-height: 24px;
            width: 80%;
            margin: 0 auto 20px;
            text-align: center;
            font-weight: 400;
        }

        &__content {
            text-align: center;
        }

        &__hash {
            display: inline-block;
            padding: 7px 12px;
            position: relative;

            ._back {
                background: url('/images/hash-back.png') no-repeat center center / contain;
                position: absolute;
                z-index: 0;
                left: 0;
                right:0;
                top:0;
                bottom: 0;
            }

            ._text {
                position: relative;
                z-index: 2;
                color: $white;
                font-weight: bold;
                display: block;
            }
        }
    }

    &__content {
        height: 800px;
        position: relative;
    }

    &__papersheet {
        position: absolute;
        width: 90%;
        max-width: 1100px;
        margin: auto;
        top: 0;
        left: 0;
        right:0;
        bottom: 0;

        &__body {
            background: $white;
            position: absolute;
            top: 20px;
            bottom: 20px;
            left: 20px;
            right: 20px;
        }

        &__corner {
            position: absolute;

            &--topleft {
                width: 80px;
                height: 120px;
                left: 0;
                top: 0;
                background: url('/images/paper/top-left.png') no-repeat;
                background-size: contain;
            }
            &--topright {
                width: 50px;
                height: 50px;
                right: 0;
                top: 0;
                background: url('/images/paper/corner.png') no-repeat;
                background-size: contain;
            }

            &--botleft {
                width: 50px;
                height: 50px;
                left: -10px;
                bottom: 0;
                background: url('/images/paper/corner.png') no-repeat;
                background-size: contain;
                transform: rotate(180deg);
            }

            &--botright {
                width: 50px;
                height: 50px;
                right: 8px;
                bottom: -5px;
                background: url('/images/paper/corner.png') no-repeat;
                background-size: contain;
                transform: rotate(90deg);
            }
        }

        &__border {
            position: absolute;

            &--top {
                top: 0;
                left: 80px;
                right: 50px;
                height: 50px;
                background: url('/images/paper/top.png') repeat-x;
                background-size: 70%;
            }

            &--left {
                top: 80px;
                left: 0;
                bottom: 50px;
                width: 50px;
                background: url('/images/paper/left.png') repeat-y;
                background-size: 50%;
            }

            &--right {
                top: 50px;
                right: 10px;
                bottom: 45px;
                width: 50px;
                background: url('/images/paper/left.png') repeat-y;
                background-size: 50%;
                transform: rotate(180deg);
            }

            &--bot {
                bottom: 0;
                left: 40px;
                right: 58px;
                height: 50px;
                background: url('/images/paper/top.png') repeat-x;
                background-size: 70%;
                transform: rotate(180deg);
            }
        }
    }
}
